set(gkick_rc_png_files
about.png
app_icon.png
logo_about.png
checkbox_checked_10x10.png
checkbox_checked.png
checkbox_unchecked_10x10.png
checkbox_unchecked.png
compressor_attack_label.png
compressor_goupbox_bk.png
compressor_groupbox_label.png
compressor_knee_label.png
compressor_makeup_label.png
compressor_ratio_label.png
compressor_release_label.png
compressor_threshold_label.png
distortion_drive_label.png
distortion_goupbox_label.png
distortion_groupbox_bk.png
distortion_groupbox_label.png
distortion_volume_label.png
effects_groupbox_label.png
export_active.png
export_browse.png
export_cancel.png
export.png
export_bk.png
export_format_pressed.png
export_format_unpressed.png
flac16_radio_button.png
flac16_radio_button_active.png
flac24_radio_button.png
flac24_radio_button_active.png
wav16_radio_button.png
wav16_radio_button_active.png
wav24_radio_button.png
wav24_radio_button_active.png
wav32_radio_button.png
wav32_radio_button_active.png
ogg_radio_button.png
ogg_radio_button_active.png
mono_radio_button.png
mono_radio_button_active.png
stereo_radio_button.png
stereo_radio_button_active.png
meter_scale.png
filter_type_hp.png
filter_type_lp.png
filter_type_bp.png
filter_type_hp_checked.png
filter_type_lp_checked.png
filter_type_bp_checked.png
general_groupbox_label.png
hboxbk_ampl_env.png
hboxbk_compressor.png
hboxbk_filter.png
hboxbk_noise_env.png
hboxbk_osc_env.png
knob_50x50.png
knob_bk_50x50.png
knob_bk_image_freq.png
knob_bk_image.png
knob.png
logo.png
noise_groupbox_label.png
noise_type_brownian_active.png
noise_type_brownian.png
noise_type_white_active.png
noise_type_white.png
open_active.png
open.png
cancel.png
osc1_radio_button.png
osc1_radio_button_active.png
osc2_radio_button.png
osc2_radio_button_active.png
noise_radio_button.png
noise_radio_button_active.png
fm_radio_button.png
fm_radio_button_active.png
save_active.png
save.png
show_ampl_env_active.png
show_ampl_env.png
show_freq_env_active.png
show_freq_env.png
show_filter_env.png
show_filter_env_active.png
show_general_envelopes_button_active.png
show_general_envelopes_button.png
show_noise_envelopes_button_active.png
show_noise_envelopes_button.png
show_osc1_envelopes_button_active.png
show_osc1_envelopes_button.png
show_osc2_envelopes_button_active.png
show_osc2_envelopes_button.png
scrollbar_button_up.png
scrollbar_button_down.png
wave_button_sawtooth_active.png
wave_button_sawtooth.png
wave_button_sine_active.png
wave_button_sine.png
wave_button_square_active.png
wave_button_square.png
wave_button_triangle_active.png
wave_button_triangle.png
wave_button_sample.png
wave_button_sample_active.png
button_browse_sample.png
phase_label.png
topbar_layer1.png
topbar_layer2.png
topbar_layer3.png
topbar_layer1_disabled.png
topbar_layer2_disabled.png
topbar_layer3_disabled.png
layer1.png
layer2.png
layer3.png
layer1_disabled.png
layer2_disabled.png
layer3_disabled.png
wf_bk_hbox.png
layers_mixer.png
tune_checkbox_on.png
tune_checkbox_off.png)