set(GKICK_RESOURCES

# === Common ===
${GKICK_RC_DIR}/app_icon_png.c
${GKICK_RC_DIR}/logo_about_png.c
${GKICK_RC_DIR}/about_png.c

# === Top Menu ===

${GKICK_RC_DIR}/logo_png.c
${GKICK_RC_DIR}/separator_png.c
${GKICK_RC_DIR}/open_active_png.c
${GKICK_RC_DIR}/open_png.c
${GKICK_RC_DIR}/open_hover_png.c
${GKICK_RC_DIR}/play_png.c
${GKICK_RC_DIR}/play_hover_png.c
${GKICK_RC_DIR}/play_pressed_png.c
${GKICK_RC_DIR}/layer1_png.c
${GKICK_RC_DIR}/layer2_png.c
${GKICK_RC_DIR}/layer3_png.c
${GKICK_RC_DIR}/layer1_disabled_png.c
${GKICK_RC_DIR}/layer2_disabled_png.c
${GKICK_RC_DIR}/layer3_disabled_png.c
${GKICK_RC_DIR}/layer1_hover_png.c
${GKICK_RC_DIR}/layer2_hover_png.c
${GKICK_RC_DIR}/layer3_hover_png.c
${GKICK_RC_DIR}/reset_png.c
${GKICK_RC_DIR}/reset_hover_png.c
${GKICK_RC_DIR}/reset_active_png.c
${GKICK_RC_DIR}/tune_checkbox_on_png.c
${GKICK_RC_DIR}/tune_checkbox_off_png.c
${GKICK_RC_DIR}/tune_checkbox_hover_png.c
${GKICK_RC_DIR}/topmenu_midi_off_png.c
${GKICK_RC_DIR}/topmenu_midi_active_png.c
${GKICK_RC_DIR}/topmenu_midi_hover_png.c
${GKICK_RC_DIR}/topmenu_controls_active_png.c
${GKICK_RC_DIR}/topmenu_controls_hover_png.c
${GKICK_RC_DIR}/topmenu_controls_off_png.c
${GKICK_RC_DIR}/topmenu_kit_active_png.c
${GKICK_RC_DIR}/topmenu_kit_hover_png.c
${GKICK_RC_DIR}/topmenu_kit_off_png.c
${GKICK_RC_DIR}/topmenu_presets_active_png.c
${GKICK_RC_DIR}/topmenu_presets_hover_png.c
${GKICK_RC_DIR}/topmenu_presets_off_png.c
${GKICK_RC_DIR}/topmenu_samples_active_png.c
${GKICK_RC_DIR}/topmenu_samples_hover_png.c
${GKICK_RC_DIR}/topmenu_samples_off_png.c

# === Envelopes Menu ===

${GKICK_RC_DIR}/show_ampl_env_active_png.c
${GKICK_RC_DIR}/show_ampl_env_png.c
${GKICK_RC_DIR}/show_ampl_env_hover_png.c
${GKICK_RC_DIR}/show_freq_env_active_png.c
${GKICK_RC_DIR}/show_freq_env_png.c
${GKICK_RC_DIR}/show_freq_env_hover_png.c
${GKICK_RC_DIR}/show_filter_env_active_png.c
${GKICK_RC_DIR}/show_filter_env_png.c
${GKICK_RC_DIR}/show_filter_env_hover_png.c
${GKICK_RC_DIR}/layer1_env_active_png.c
${GKICK_RC_DIR}/layer1_env_png.c
${GKICK_RC_DIR}/layer2_env_active_png.c
${GKICK_RC_DIR}/layer2_env_png.c
${GKICK_RC_DIR}/layer3_env_active_png.c
${GKICK_RC_DIR}/layer3_env_png.c
${GKICK_RC_DIR}/show_general_envelopes_button_active_png.c
${GKICK_RC_DIR}/show_general_envelopes_button_png.c
${GKICK_RC_DIR}/show_noise_envelopes_button_active_png.c
${GKICK_RC_DIR}/show_noise_envelopes_button_png.c
${GKICK_RC_DIR}/show_osc1_envelopes_button_active_png.c
${GKICK_RC_DIR}/show_osc1_envelopes_button_png.c
${GKICK_RC_DIR}/show_osc2_envelopes_button_active_png.c
${GKICK_RC_DIR}/show_osc2_envelopes_button_png.c

# === Controls Area ===

# === Oscillator ===

${GKICK_RC_DIR}/controls_osc1_on_png.c
${GKICK_RC_DIR}/controls_osc1_hover_png.c
${GKICK_RC_DIR}/controls_osc1_off_png.c
${GKICK_RC_DIR}/controls_osc2_on_png.c
${GKICK_RC_DIR}/controls_osc2_hover_png.c
${GKICK_RC_DIR}/controls_osc2_off_png.c
${GKICK_RC_DIR}/controls_noise_on_png.c
${GKICK_RC_DIR}/controls_noise_hover_png.c
${GKICK_RC_DIR}/controls_noise_off_png.c
${GKICK_RC_DIR}/fm_radio_png.c
${GKICK_RC_DIR}/fm_radio_hover_png.c
${GKICK_RC_DIR}/fm_radio_active_png.c

${GKICK_RC_DIR}/compressor_enable_png.c
${GKICK_RC_DIR}/compressor_enable_hover_png.c
${GKICK_RC_DIR}/compressor_enable_active_png.c
${GKICK_RC_DIR}/compressor_attack_label_png.c
${GKICK_RC_DIR}/compressor_goupbox_bk_png.c
${GKICK_RC_DIR}/compressor_groupbox_label_png.c
${GKICK_RC_DIR}/compressor_knee_label_png.c
${GKICK_RC_DIR}/compressor_makeup_label_png.c
${GKICK_RC_DIR}/compressor_ratio_label_png.c
${GKICK_RC_DIR}/compressor_release_label_png.c
${GKICK_RC_DIR}/compressor_threshold_label_png.c
${GKICK_RC_DIR}/distortion_enable_png.c
${GKICK_RC_DIR}/distortion_enable_hover_png.c
${GKICK_RC_DIR}/distortion_enable_active_png.c
${GKICK_RC_DIR}/distortion_drive_env_png.c
${GKICK_RC_DIR}/distortion_drive_env_hover_png.c
${GKICK_RC_DIR}/distortion_drive_env_active_png.c
${GKICK_RC_DIR}/distortion_goupbox_label_png.c
${GKICK_RC_DIR}/distortion_groupbox_bk_png.c
${GKICK_RC_DIR}/distortion_groupbox_label_png.c
${GKICK_RC_DIR}/distortion_in_limiter_png.c
${GKICK_RC_DIR}/distortion_volume_env_png.c
${GKICK_RC_DIR}/distortion_volume_env_active_png.c
${GKICK_RC_DIR}/distortion_volume_env_hover_png.c
${GKICK_RC_DIR}/effects_groupbox_label_png.c
${GKICK_RC_DIR}/export_button_png.c
${GKICK_RC_DIR}/export_browse_png.c
${GKICK_RC_DIR}/export_cancel_png.c
${GKICK_RC_DIR}/export_png.c
${GKICK_RC_DIR}/export_hover_png.c
${GKICK_RC_DIR}/export_bk_png.c
${GKICK_RC_DIR}/export_format_pressed_png.c
${GKICK_RC_DIR}/export_format_unpressed_png.c
${GKICK_RC_DIR}/flac16_radio_button_png.c
${GKICK_RC_DIR}/flac16_radio_button_active_png.c
${GKICK_RC_DIR}/flac24_radio_button_png.c
${GKICK_RC_DIR}/flac24_radio_button_active_png.c
${GKICK_RC_DIR}/wav16_radio_button_png.c
${GKICK_RC_DIR}/wav16_radio_button_active_png.c
${GKICK_RC_DIR}/wav24_radio_button_png.c
${GKICK_RC_DIR}/wav24_radio_button_active_png.c
${GKICK_RC_DIR}/wav32_radio_button_png.c
${GKICK_RC_DIR}/wav32_radio_button_active_png.c
${GKICK_RC_DIR}/ogg_radio_button_png.c
${GKICK_RC_DIR}/ogg_radio_button_active_png.c
${GKICK_RC_DIR}/mono_radio_button_png.c
${GKICK_RC_DIR}/mono_radio_button_active_png.c
${GKICK_RC_DIR}/stereo_radio_button_png.c
${GKICK_RC_DIR}/stereo_radio_button_active_png.c
${GKICK_RC_DIR}/meter_scale_png.c

# ==== Filter ====
${GKICK_RC_DIR}/filter_enabled_png.c
${GKICK_RC_DIR}/filter_disabled_png.c
${GKICK_RC_DIR}/filter_enabled_hover_png.c
${GKICK_RC_DIR}/filter_type_hp_png.c
${GKICK_RC_DIR}/filter_type_lp_png.c
${GKICK_RC_DIR}/filter_type_bp_png.c
${GKICK_RC_DIR}/filter_type_hp_checked_png.c
${GKICK_RC_DIR}/filter_type_lp_checked_png.c
${GKICK_RC_DIR}/filter_type_bp_checked_png.c
${GKICK_RC_DIR}/filter_type_hp_hover_png.c
${GKICK_RC_DIR}/filter_type_lp_hover_png.c
${GKICK_RC_DIR}/filter_type_bp_hover_png.c
${GKICK_RC_DIR}/fl_cutoff_button_on_png.c
${GKICK_RC_DIR}/fl_cutoff_button_hover_png.c
${GKICK_RC_DIR}/fl_cutoff_button_off_png.c

${GKICK_RC_DIR}/general_groupbox_label_png.c

# ==== OSC section ====

${GKICK_RC_DIR}/hboxbk_ampl_env_png.c
${GKICK_RC_DIR}/hboxbk_compressor_png.c
${GKICK_RC_DIR}/hboxbk_filter_png.c
${GKICK_RC_DIR}/hboxbk_noise_env_png.c
${GKICK_RC_DIR}/hboxbk_osc_env_png.c
${GKICK_RC_DIR}/knob_50x50_png.c
${GKICK_RC_DIR}/knob_bk_50x50_png.c
${GKICK_RC_DIR}/knob_bk_image_freq_png.c
${GKICK_RC_DIR}/knob_bk_image_png.c
${GKICK_RC_DIR}/knob_png.c

${GKICK_RC_DIR}/osc_ampl_button_off_png.c
${GKICK_RC_DIR}/osc_ampl_button_on_png.c
${GKICK_RC_DIR}/osc_ampl_button_hover_png.c
${GKICK_RC_DIR}/osc_freq_button_off_png.c
${GKICK_RC_DIR}/osc_freq_button_on_png.c
${GKICK_RC_DIR}/osc_freq_button_hover_png.c
${GKICK_RC_DIR}/osc_pitch_button_off_png.c
${GKICK_RC_DIR}/osc_pitch_button_on_png.c
${GKICK_RC_DIR}/osc_pitch_button_hover_png.c

${GKICK_RC_DIR}/phase_label_png.c
${GKICK_RC_DIR}/noise_groupbox_label_png.c
${GKICK_RC_DIR}/noise_type_brownian_active_png.c
${GKICK_RC_DIR}/noise_type_brownian_png.c
${GKICK_RC_DIR}/noise_type_white_active_png.c
${GKICK_RC_DIR}/noise_type_white_png.c
${GKICK_RC_DIR}/cancel_png.c
${GKICK_RC_DIR}/save_active_png.c
${GKICK_RC_DIR}/save_png.c
${GKICK_RC_DIR}/save_hover_png.c

${GKICK_RC_DIR}/wave_button_sawtooth_active_png.c
${GKICK_RC_DIR}/wave_button_sawtooth_png.c
${GKICK_RC_DIR}/wave_button_sine_active_png.c
${GKICK_RC_DIR}/wave_button_sine_png.c
${GKICK_RC_DIR}/wave_button_square_active_png.c
${GKICK_RC_DIR}/wave_button_square_png.c
${GKICK_RC_DIR}/wave_button_triangle_active_png.c
${GKICK_RC_DIR}/wave_button_triangle_png.c
${GKICK_RC_DIR}/wave_button_sample_png.c
${GKICK_RC_DIR}/wave_button_sample_active_png.c
${GKICK_RC_DIR}/button_browse_sample_png.c
${GKICK_RC_DIR}/wf_bk_hbox_png.c
${GKICK_RC_DIR}/layers_mixer_png.c
${GKICK_RC_DIR}/controls_button_png.c

#----- Kit -----

${GKICK_RC_DIR}/kit_midi_on_png.c
${GKICK_RC_DIR}/kit_midi_hover_png.c
${GKICK_RC_DIR}/kit_midi_off_png.c

${GKICK_RC_DIR}/kit_button_png.c
${GKICK_RC_DIR}/add_per_button_png.c
${GKICK_RC_DIR}/open_kit_button_png.c
${GKICK_RC_DIR}/save_kit_button_png.c
${GKICK_RC_DIR}/export_kit_button_png.c
${GKICK_RC_DIR}/mute_png.c
${GKICK_RC_DIR}/mute_hover_png.c
${GKICK_RC_DIR}/mute_on_png.c
${GKICK_RC_DIR}/solo_png.c
${GKICK_RC_DIR}/solo_hover_png.c
${GKICK_RC_DIR}/solo_on_png.c
${GKICK_RC_DIR}/per_play_png.c
${GKICK_RC_DIR}/per_play_hover_png.c
${GKICK_RC_DIR}/per_play_on_png.c
${GKICK_RC_DIR}/remove_per_button_png.c
${GKICK_RC_DIR}/remove_per_button_hover_png.c
${GKICK_RC_DIR}/remove_per_button_on_png.c
${GKICK_RC_DIR}/copy_per_button_png.c
${GKICK_RC_DIR}/copy_per_button_hover_png.c
${GKICK_RC_DIR}/copy_per_button_on_png.c
${GKICK_RC_DIR}/presets_button_png.c
${GKICK_RC_DIR}/next_page_png.c
${GKICK_RC_DIR}/next_page_hover_png.c
${GKICK_RC_DIR}/next_page_on_png.c
${GKICK_RC_DIR}/prev_page_png.c
${GKICK_RC_DIR}/prev_page_hover_png.c
${GKICK_RC_DIR}/prev_page_on_png.c
${GKICK_RC_DIR}/env_button_png.c
${GKICK_RC_DIR}/env_button_hover_png.c
${GKICK_RC_DIR}/env_button_on_png.c

# === File Dialog ===

${GKICK_RC_DIR}/scrollbar_button_up_png.c
${GKICK_RC_DIR}/scrollbar_button_down_png.c

# === Smaples Browser ===

${GKICK_RC_DIR}/play_preview_sample_png.c
${GKICK_RC_DIR}/play_preview_sample_hover_png.c
${GKICK_RC_DIR}/play_preview_sample_pressed_png.c
${GKICK_RC_DIR}/load_preview_sample_png.c
${GKICK_RC_DIR}/load_preview_sample_hover_png.c
${GKICK_RC_DIR}/load_preview_sample_pressed_png.c
${GKICK_RC_DIR}/osc1_preview_sample_png.c
${GKICK_RC_DIR}/osc1_preview_sample_hover_png.c
${GKICK_RC_DIR}/osc1_preview_sample_pressed_png.c
${GKICK_RC_DIR}/osc2_preview_sample_png.c
${GKICK_RC_DIR}/osc2_preview_sample_hover_png.c
${GKICK_RC_DIR}/osc2_preview_sample_pressed_png.c
)