QWidget {
    color: #dfdfdf;
    background-color: #444444;
}

GKickKnob {
    background-color: #ffffff;
    background-image: url('./themes/geontime/knob_scale.png');
    width: 80px;
    height: 80px;
}