#include <windows.h>

#define APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// Version
/////////////////////////////////////////////////////////////////////////////
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1, 10, 0, 0
 PRODUCTVERSION 1, 10, 0, 0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004e4"
        BEGIN
            VALUE "FileVersion",      "1.10.0\0"
            VALUE "ProductVersion",   "1.10.0\0"
            VALUE "OriginalFilename", "Geonkick.vst3\0"
            VALUE "FileDescription",  "Geonkick VST3\0"
            VALUE "InternalName",     "Geonkick VST3\0"
            VALUE "ProductName",      "Geonkick VST3\0"
            VALUE "CompanyName",      "Geontime\0"
            VALUE "LegalCopyright",   "GPL\0"
            VALUE "LegalTrademarks",  "Geontime\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1252
    END
END