[Desktop Entry]
Type=Application
Version=1.1
Name=Geonkick
GenericName=Percussion Synthesizer
GenericName[fr]=Synthétiseur de kick de batterie
Comment=Synthesizes elements of percussion
Comment[fr]=Synthétise les éléments de percussion
Icon=geonkick
Categories=AudioVideo;Audio;AudioVideoEditing;
MimeType=application/x-geonkick-preset;
Exec=env UBUNTU_MENUPROXY=0 geonkick %F
Terminal=false
StartupNotify=false
X-GNOME-Uses-X11=true
X-KDE-RunOnX11=true
NoDisplay=false
StartupWMClass=geonkick
Keywords=audio;synth;percussion;drum;music;
Homepage=https://geonkick.org
X-AppStream-DeveloperName=Iurie Nistor
