<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Id='D996DFE5-13D8-4ED0-BFEE-0C13F16B1C43' Name='Geonkick VST3 Plugin' Version='3.0.0' Manufacturer='Iurie Nistor' UpgradeCode='C63F35A1-4A8F-4DE5-A3A7-4D2CC05E791A' Language='1033'>
        <Package InstallerVersion='200' Compressed='yes' Platform="x64" />
        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' />
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder'>
                <Directory Id='COMMONFILES' Name='Common Files'>
                    <Directory Id='VST3Folder' Name='VST3'>
                        <Directory Id='INSTALLDIR' Name='Geonkick.vst3'>
                            <Directory Id='CONTENTSDIR' Name='Contents'>
                                <Directory Id='X86_64_DIR' Name='x86_64-win'>
                                    <Component Id='GeonkickVST3' Guid='FE501DE5-53A5-4D8C-BC0F-8AA4D164D8F9' Win64="yes">
                                        <!-- Corrected Source Path -->
                                        <File Id='GeonkickVST3File' Source='D:\a\geonkick\build\Geonkick.vst3\Geonkick.vst3' KeyPath='yes' />
                                        <Environment Id="Path" Action="set" Name="PATH" Part="last" Value="[ProgramFiles64Folder]Geonkick" System="yes" />
                                    </Component>
                                </Directory>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
		<Directory Id='GEONKICKDLLSDIR' Name='Geonkick'>
                  <Component Id='GeonkickDLLsComponent' Guid='B4884A51-8324-471D-A470-B5DDA8CBBB9F' Win64="yes">
                    <!-- Corrected Source Paths -->
                    <File Id='DependencyDLLs' Source='D:\a\geonkick\build\Geonkick.vst3\libbrotlicommon.dll' KeyPath='no' />
                    <File Id='DependencyDLLs1' Source='D:\a\geonkick\build\Geonkick.vst3\libbrotlidec.dll' KeyPath='no' />
                    <File Id='DependencyDLLs2' Source='D:\a\geonkick\build\Geonkick.vst3\libbz2-1.dll' KeyPath='no' />
                    <File Id='DependencyDLLs3' Source='D:\a\geonkick\build\Geonkick.vst3\libcairo-2.dll' KeyPath='no' />
                    <File Id='DependencyDLLs4' Source='D:\a\geonkick\build\Geonkick.vst3\libexpat-1.dll' KeyPath='no' />
                    <File Id='DependencyDLLs5' Source='D:\a\geonkick\build\Geonkick.vst3\libfontconfig-1.dll' KeyPath='no' />
                    <File Id='DependencyDLLs6' Source='D:\a\geonkick\build\Geonkick.vst3\libfreetype-6.dll' KeyPath='no' />
                    <File Id='DependencyDLLs7' Source='D:\a\geonkick\build\Geonkick.vst3\libgcc_s_seh-1.dll' KeyPath='no' />
                    <File Id='DependencyDLLs8' Source='D:\a\geonkick\build\Geonkick.vst3\libglib-2.0-0.dll' KeyPath='no' />
                    <File Id='DependencyDLLs9' Source='D:\a\geonkick\build\Geonkick.vst3\libgraphite2.dll' KeyPath='no' />
                    <File Id='DependencyDLLs10' Source='D:\a\geonkick\build\Geonkick.vst3\libharfbuzz-0.dll' KeyPath='no' />
                    <File Id='DependencyDLLs11' Source='D:\a\geonkick\build\Geonkick.vst3\libiconv-2.dll' KeyPath='no' />
                    <File Id='DependencyDLLs12' Source='D:\a\geonkick\build\Geonkick.vst3\libintl-8.dll' KeyPath='no' />
                    <File Id='DependencyDLLs13' Source='D:\a\geonkick\build\Geonkick.vst3\libpcre2-8-0.dll' KeyPath='no' />
                    <File Id='DependencyDLLs14' Source='D:\a\geonkick\build\Geonkick.vst3\libpixman-1-0.dll' KeyPath='no' />
                    <File Id='DependencyDLLs15' Source='D:\a\geonkick\build\Geonkick.vst3\libpng16-16.dll' KeyPath='no' />
                    <File Id='DependencyDLLs16' Source='D:\a\geonkick\build\Geonkick.vst3\libstdc++-6.dll' KeyPath='no' />
                    <File Id='DependencyDLLs17' Source='D:\a\geonkick\build\Geonkick.vst3\libwinpthread-1.dll' KeyPath='no' />
                    <File Id='DependencyDLLs18' Source='D:\a\geonkick\build\Geonkick.vst3\zlib1.dll' KeyPath='no' />
                    <!-- Add more File elements for each DLL -->
                  </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id='Complete' Level='1'>
            <ComponentRef Id='GeonkickVST3' />
            <ComponentRef Id='GeonkickDLLsComponent' />
        </Feature>
    </Product>
</Wix>
